# Node.js dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# Android / Gradle
.gradle/
build/
local.properties
*.apk
*.ap_

# iOS / Xcode
Pods/
*.xcworkspace
DerivedData/

# IDE configs
.idea/
.vscode/

# Logs
*.log

# Environment
.env
